---
import GitHub from "./icons/GitHub.astro"
import ExpressJs from "./icons/Express.astro"
import NodeJs from "./icons/Node.astro"
import MongoDb from "./icons/Mongo.astro"
import Mysql from "./icons/Mysql.astro"
import CSSNa from "./icons/CSS.astro"
import ReactJs from "./icons/React.astro"
import ViteJs from "./icons/Vite.astro"
import JavaBack from "./icons/Java.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Laravel from "./icons/Laravel.astro"

const TAGS = {
  REACT: {
    name: "React.js",
    class: "bg-black text-white",
    icon: ReactJs,
  },
  NODE: {
    name: "Node.js",
    class: "bg-[#003159] text-white",
    icon: NodeJs,
  },
  JAVA: {
    name: "java",
    class: "bg-[#003159] text-white",
    icon: JavaBack,
  },
  MONGO: {
    name: "MongoDb",
    class: "bg-[#003159] text-white",
    icon: MongoDb,
  },
  MYSQL: {
    name: "Mysql",
    class: "bg-[#003159] text-white",
    icon: Mysql,
  },
  EXPRESS: {
    name: "Express.js",
    class: "bg-[#003159] text-white",
    icon: ExpressJs,
  },
  VITE: {
    name: "VITE",
    class: "bg-[#003159] text-white",
    icon: ViteJs,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: CSSNa,
  },
  LARAVEL: {
    name: "LARAVEL",
    class: "bg-[#003159] text-white",
    icon: Laravel,
  }
}
const PROJECTS = [
  {
    title: "Leadpages - ClinchHR",
    description:
      "Es una plataforma informativa diseñada para proporcionar a los clientes una visión completa de su empresa. Aquí, los visitantes encontrarán detalles exhaustivos sobre la empresa, sus servicios, productos, valores fundamentales y otros aspectos relevantes.",
    link: "https://www.hireclinch.com/",
    github: "https://github.com/facu1391/Clinch?tab=readme-ov-file",
    image: "foto2.png",
    tags: [TAGS.REACT,TAGS.VITE, TAGS.CSS],
  },
  {
    title: "CHATBEAT ♥ ♫♪♫ Conexión en sintonía. ♫♪♫ ♥",
    description:
      "ChatBeat es conectar a la gente a través de la música. Que la música sea un disparador para romper el hielo y conocerse más. Que las melodías y las letras sean también un mensaje, una invitación, una linda coincidencia.",
    link: "https://chatbeat-nocountry.web.app/",
    github: "https://github.com/No-Country/c16-32-m-java",
    image: "foto3.png",
    tags: [TAGS.REACT,TAGS.VITE,TAGS.JAVA ,TAGS.MYSQL],
  },
  {
    title: "Entrena Conmigo",
    description:
      "Entrena Conmigo es una web app que surge del deseo de incorporar el hábito del ejercico en casa. Y su principal objetivo es ayudar a personas principiantes a superarse día a día según sus objetivos. Entrena Conmigo está pensado para todo tipo de usuarios pero principalmente para aquellos que no disponen de tiempo, son su primeros pasos o no saben como dar su primer paso en esta aventura de superación y hábitos para la salud física.",
    link: "",
    github: "https://github.com/No-Country/s14-33-php",
    image: "foto4.png",
    tags: [TAGS.REACT,TAGS.VITE,TAGS.MYSQL,TAGS.LARAVEL],
  },
  {
    title: "APP - ADMINISTRACION DE PACIENTES",
    description:
      "La motivación detrás de la construcción de la aplicación de administración de pacientes fue crear una herramienta eficiente y accesible para mejorar la gestión y atención de los pacientes en entornos médicos.",
    link: "https://mern-app-frontend-nu.vercel.app/",
    github: "https://github.com/facu1391/MERN_APP_frontend",
    image: "foto1.png",
    tags: [TAGS.REACT,TAGS.EXPRESS ,TAGS.MONGO],
  },
 
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Muestra" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" /> 
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



